.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

audio {
  width: 19%;
  position: absolute;
  margin-top: -95%;
  margin-left: 28%;
}

iframe {
  position: absolute;
  width: 15%;
  margin-top: -80%;
  margin-left: 80%;
}

p a {
  position: absolute;
  margin-top: -70%;
  margin-left: 80%;
  color: black;
  font-size: 2vw;
}

.homeicon {
  margin-left: 0%;
  margin-top: 80%;
  position: absolute;
}