.firstw {
    left: 3%;
    margin-top: -5%;
    position: absolute;
}

.o {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 120px;
    margin-top: 50%;
    margin-left: 20%;
}