.firstw {
    left: 2%;
    margin-top: -7%;
    position: absolute;
    display: show;
}

.secondo {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 16vw;
    margin-top: 3%;
    margin-left: 16%;
    color: #a6abad;
}

.thirdr {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 16vw;
    margin-top: 10%;
    margin-left: 29%;
    color: #838989;
}

.fourthk {
    margin-left: 34%;
    margin-top: 14%;
    position: absolute;
}

.fifthb {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 16vw;
    margin-top: 27%;
    margin-left: 50.5%;
    color: #707473;
}

.sixtho {
    left: 58.5%;
    margin-top: 30%;
    position: absolute;
}

.seventho {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 16vw;
    margin-top: 37%;
    margin-left: 73.5%;
    color: #b0b4b3;
}

.eighthk {
    position: absolute;
    font-family: 'Archivo Black';
    font-size: 16vw;
    margin-top: 45%;
    margin-left: 87%;
    color: #585c5c;
}

body {
    background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}


/*
1. why image not show on the github live link, but can show from the browser.
2. how to make image responsive, i try many times and follow the w3schools instruction, but it's still not working.
